
<section id="main">
	
	<h2>Benefiting the Institute for Marine Mammal Studies</h2>
</section>	
<section class="info" "generic">
	<article class="course">
		<h3>Course</h3>
		<p>The Dolphin Dash is a 5K (3.1) mile course starting at IMMS in Gulfport.</p>
		<p>The Turtle Trot is a 1 mile course starting at IMMS in Gulfport.</p>
	</article>
	<article class= "schedule">
		<h3>Schedule of Events</h3>
		<ul>
			<li> 8:00 am - Event Day Registration.</li>
			<li> 9:00 am - Dolphin Dash Begins.</li>
			<li>10:30 am - Turtle Trot Begins.</li>
			<li>11:30 am - Awards and Post Party.</li>
		</ul>
	</article>
	<article class= "awards">
		<p>Awards are presented to the top two overall finishers and top male and female runners in each category. All registered particpants will receive a run tee-shirt</p>
		<p>Enjoy free appetizers and soda at IMMS while awards are being presented</p>
	</article>
</section>
<section class="info ages">	
	<article>
		<h3>Age Categories</h3>
		<h4>Dolphin Dash</h4>
		<ul>
			<li>19 years old and younger.</li>
			<li>20 - 24 years old</li>
			<li>25 - 29 years old</li>
			<li>30 - 34 years old</li>
			<li>35 - 39 years old</li>
			<li>40 - 44 years old</li>
			<li>45 - 49 years old</li>
			<li>50 - 54 years old</li>
			<li>55 - 59 years old</li>
			<li>60 - 64 years old</li>
			<li>65 years and better.</li>
		</ul>
		<h4>Turtle Trot</h4>
		<ul>
			<li>6 - 7 years old</li>
			<li>8 - 9 years old</li>
			<li>10 - 11 years old</li>
		</ul>
	</article>
</section>
<section class="fee info">
	<article>
		<h3>Entry Fee</h3>
		<h4>Pre-registration - Now thru October 1, 2013</h4>
		<p>Dolphin Dash - $30</p>
		<p>Turtle Trot - $20</p>
		<h4>Registration fee after October 1, 2013</h4>
		<p>Dolphin Dash - $35</p>
		<p>Turtle Trot - $25</p>
		<p>Online Registration available thru October 28, 2013</p>
		<h4>Packet pickup and late registration</h4>
		<p>October 28th - November 1 between 10 am and 3 pm at the Institute for Marine Mammal Studies</p>
	</article>
</section>
<section class="form">

<%= render 'form' %>

<%= link_to 'Back', registrations_path %>
<section>
