// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
	background: url(images/5klogo.jpg);
	}




.info {
	float: left;
	border: 2px solid white;
	width: 285px;
	background-color: lightskyblue;
	display: inline;
	}

